a {
    color:darkblue;
    text-decoration: underline;
}

body {
    /*background-color:rgb(231, 239, 250);*/
    background-color:rgba(245, 245, 245, 0.829);
    
}

.column-2 {
    float:left;
    width: 49.5%;
    /*border:1px solid darkblue;*/
    border:1px solid gray;
    padding:30px;
    /*background-color: aliceblue;*/
    background-color: white;
    border-radius:15px;
    box-shadow: 5px 5px 5px #888888 ;
}

.column-3 {
    float:left;
    width: 32.66%;
    /*border:1px solid darkblue;*/
    border:1px solid gray;
    padding:30px;
    /*background-color: aliceblue;*/
    background-color: white;
    border-radius:15px;
    box-shadow: 5px 5px 5px #888888 ;
    
}

#container-image {
    background-image: url("/images/background-main.jpg");
}

#follow {
    text-align: center;
}

h3 {
    /* color:goldenrod; */
    text-align: center;
    font-size:36pt;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#lead {
    font-weight: bold;
    text-align: center;
}

li, p {
   color:black;
}

.project {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

.project2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:75%;
}

#resume {
    margin:2%;
}

.row {
    column-gap:1%;
}

@media screen and (max-height: 481px){

    .hero-content {
        padding:5px;
        top:74%;

    }

    .hero-title-content {
        padding:5px;
        top:59%;

    }
  
    h1 {
        font-size:17pt;
        color:white;
    }

    h5 {
        font-size:10pt;
        color:white;
    }

}


@media screen and (max-width: 481px){

    .column-2 {
        float:left;
        width: 100%;
        border:1px solid darkblue;
        padding:30px;
        background-color: aliceblue;
        border-radius:15px;
        box-shadow: 5px 5px 5px #888888 ;
    }
    
    .column-3 {
        float:left;
        width: 100%;
        border:1px solid darkblue;
        padding:30px;
        background-color: aliceblue;
        border-radius:15px;
        box-shadow: 5px 5px 5px #888888 ;
    }
    
    .hero-content {
        padding:15px;
        left:40%;
        top:70%;

    }

    .hero-title-content {
        padding:15px;
        left:40%;
        top:62%;

    }

    #home {
        background: url("/images/background-mobile.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-width: 100%;
        min-height: 100%;
        height: 100%;
        width: 100%;
        display: block;
        background-position:center;
        
    }
  
    h1 {
        font-size:18pt;
        color:white;
    }

    h5 {
        font-size:12pt;
        color:white;
    }
       

    .row {
        column-gap:0%;
    }
  }