a {
    color:darkblue;
    text-decoration: underline;
}

body {
    background-color:rgb(231, 239, 250);
    
}

.column-2 {
    float:left;
    width: 49.5%;
    border:1px solid darkblue;
    padding:30px;
    background-color: aliceblue;
    border-radius:15px;
    box-shadow: 5px 5px 5px #888888 ;
}

.column-3 {
    float:left;
    width: 32.66%;
    border:1px solid darkblue;
    padding:30px;
    background-color: aliceblue;
    border-radius:15px;
    box-shadow: 5px 5px 5px #888888 ;
    
}

#follow {
    text-align: center;
}

h3 {
    color:goldenrod;
    text-align: center;
    font-size:36pt;
}

h3:hover {
    color: darkgoldenrod;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/background3.jpg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#lead {
    font-weight: bold;
    text-align: center;
}

li, p {
   color:black;
}

.project {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

#resume {
    margin:2%; 
}

.row {
    column-gap:1%;
}

@media screen and (max-width: 481px){

    .column-2 {
        float:left;
        width: 100%;
        border:1px solid darkblue;
        padding:30px;
        background-color: aliceblue;
        border-radius:15px;
        box-shadow: 5px 5px 5px #888888 ;
    }
    
    .column-3 {
        float:left;
        width: 100%;
        border:1px solid darkblue;
        padding:30px;
        background-color: aliceblue;
        border-radius:15px;
        box-shadow: 5px 5px 5px #888888 ;
    }
    
    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/background-mobile.jpg");
        max-width: auto;
        height: 100%;
        
    }
  
    h1 {
        font-size:14pt;
    }

    h5 {
        font-size:10pt;
    }
       

    .row {
        column-gap:0%;
    }
  }